__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.pytest_cache/
.pytest_temp/
test_temp/
.coverage
htmlcov/
*.sqlite
*.db
tests/
data/faiss/*
!data/faiss/.gitkeep
data/models/*
!data/models/.gitkeep
